/* COLOR PALETTE */
:root {
  --violet: #BDB2FF;
  --black: #2b2b2b;
  --purple: #2e185f;
  --blue: #9BD9F1;
}

#header,
#footer,
#start-game {
  text-align: center;
}

#game-selection,
#game-options,
.character,
.mark,
.alien  {
  display: flex;
  justify-content: center;
}
#opponent-ai {
  display: none;
}

#andromeda {
  background-color: var(--violet);
}
#black-eye {
  background-color: var(--black);
}
#fireworks {
  background-color: var(--purple);
}
#milky-way {
  background-color: var(--blue);
}
