/* COLOR PALETTE */
:root {
  --violet: #A39DD2;
  --black: #19191E;
  --purple: #332453;
  --blue: #A1D4E8;
  --white: #FFFFFF;
  --dark-blue: #3F548D;
  --grey: #3D3D3D;
  --pink: #F5B1CB;
  --orange : #D07C7C;
  --green: #52B69A;
  --yellow: #FFE3A1;
  --red: #D04456;
  --cream: #FFDDD2;
}

/* ICONS STYLING */
.theme-astronaut {
  --fa-primary-color: var(--dark-blue);
  --fa-secondary-color: var(--grey);
  --fa-secondary-opacity: 1.0;
}
.theme-cat {
  --fa-primary-color: var(--grey);
  --fa-secondary-color: var(--white);
  --fa-secondary-opacity: 1.0;
}
.theme-rocket {
  --fa-primary-color: var(--green);
  --fa-secondary-color: var(--yellow);
  --fa-secondary-opacity: 1.0;
}
.theme-comet {
  --fa-primary-color: var(--yellow);
  --fa-secondary-color: var(--orange);
  --fa-secondary-opacity: 1.0;
}
.theme-alicorn {
  --fa-primary-color: var(--pink);
  --fa-secondary-color: var(--green);
  --fa-secondary-opacity: 1.0;
}
.theme-cowboy {
  --fa-primary-color: var(--orange);
  --fa-secondary-color: var(--cream);
  --fa-secondary-opacity: 1.0;
}
.theme-meteor {
  --fa-primary-color: var(--cream);
  --fa-secondary-color: var(--red);
  --fa-secondary-opacity: 1.0;
}
.theme-star {
  --fa-primary-color: var(--yellow);
  --fa-secondary-color: var(--dark-blue);
  --fa-secondary-opacity: 1.0;
}
.theme-pastafarianism {
  --fa-primary-color: var(--grey);
  --fa-secondary-color: var(--cream);
  --fa-secondary-opacity: 1.0;
}
.theme-alien {
  --fa-primary-color: var(--dark-blue);
  --fa-secondary-color: var(--green);
  --fa-secondary-opacity: 1.0;
}
.theme-bacterium {
  --fa-primary-color: var(--dark-blue);
  --fa-secondary-color: var(--pink);
  --fa-secondary-opacity: 1.0;
}
.theme-virus {
  --fa-primary-color: var(--red);
  --fa-secondary-color: var(--yellow);
  --fa-secondary-opacity: 1.0;
}

/* DISPLAYING */
.display-block {
  display: block;
}
.display-none {
  display: none;
}

/* ALIGNMENT */
#header,
#game-options,
#start-game,
#player-stats,
#enemy-stats,
#ai-stats,
#footer {
  text-align: center;
}
#player,
#player-stats,
#scenes,
#enemy-human,
#enemy-stats,
#enemy-ai,
#ai-stats {
  margin: 20px;
  width: 180px;
}
#game-selection,
#game-options,
.game,
.character,
.mark,
.alien  {
  display: flex;
  justify-content: center;
}
.character div,
.mark div,
.alien div {
  padding: 10px;
}

#body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: var(--white);
}
.body-bg {
  background-image: url('../images/sky.jpg');
  background-size: cover;
}

#header h1 {
  font-family: 'Codystar', cursive;
  margin-bottom: 0;
}
#header p {
  margin-top: 0;
  font-size: 15px;
}

#game-selection button,
.play-btn {
  margin: 20px;
  padding: 10px 40px;
  background-color: transparent;
  color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 1px;
  transition: 0.2s;
  outline: none;
}
#game-selection button:hover,
#game-selection button:focus,
.play-btn:hover,
.play-btn:focus {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px 5px;
  transition: 0.2s;
}

#game-options i {
  font-size: 50px;
}
#game-options i:hover,
.galaxies div:hover {
  cursor: pointer;
}

.galaxies div {
  padding: 14px 20px;
}
#andromeda {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--violet);
}
.andromeda {
  background-image: url('../images/andromeda.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#black-eye {
  background-color: var(--black);
}
.black-eye  {
  background-image: url('../images/black-eye.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#fireworks {
  background-color: var(--purple);
}
.fireworks {
  background-image: url('../images/fireworks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#milky-way {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--blue);
}
.milky-way {
  background-image: url('../images/milky-way.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#game-window {
  margin-top: 100px;
}
#gameboard {
  display: grid;
  grid-gap: 2px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 20px 5px;
}
#gameboard > div {
  background-color: #FFF;
}
.grid-3x3 {
  grid-template-columns: repeat(3, auto);
}
.grid-3x3 > div {
  height: 100px;
  width: 100px;
}

#footer {
  font-size: 15px;
}
#footer a {
  font-weight: 900;
  text-decoration: none;
  color: var(--white);
  transition: 0.2s;
  outline: none;
}
#footer a:hover,
#footer a:focus {
  color: var(--dark-blue);
  transition: 0.2s;
}
